* {
    color: white;
}

section{
    width: 100%;
    height: 100%;
}

.homePage .categoryWrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    overflow: auto;
}

.homePage p {
    padding: 10px;
    font-weight: bold;
}