nav {
    width: 100%;
    position: sticky;
}

ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    list-style: none;
}

li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeButton{
    display: flex;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    color: white;
}

a.active{
    text-decoration: underline;
}

a:hover{
    text-decoration: underline;
}

.imageWrapper{
    width: 100%;
    height: auto;
}

.imageWrapper img{
    width: 100%;
    height: auto;
}