.detailPage{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.categoryWrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.detailCard{
    display: flex;
    flex-direction: column;

    height: 100%;
    flex-wrap: wrap;
}

p{
    font-weight: normal;
}